# IntelliJ IDEA
.idea/
*.iml
out/
*.iws

# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Logs
*.log
logs/
*.tmp

# OS files
.DS_Store
Thumbs.db

# Environment & local settings
.env
*.local
*.properties.local

# Docker
**/Dockerfile.local
**/docker-compose.override.yml
**/.docker/

# Test reports
surefire-reports/
allure-results/
allure-report/

# Node / Frontend (если позже добавишь UI)
node_modules/
dist/
build/

# Cache
.cache/
.vscode/
